.container {
  background-image: url("../../images/code.jpg");
  color: white;
  height: 107.5vh;
  overflow: hidden;
  background-size: 100%;
  margin-top: -8vh;
}

.typeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.typeContainer h3 {
  margin: 3px;
  font-size: 40px;
  margin-bottom: 70px;
  margin-left: 25px;
  color: rgba(255, 105, 180, 0.8);
}

.typeContainer p {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.9);
}

#firstText {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
}

#dot {
  color: rgba(255, 255, 255, 0.8);
}

#secText {
  color: rgba(255, 105, 180, 0.8);
  font-size: 65px;
}

@media (max-width: 1200px) {
  .typeContainer .text {
    color: rgba(255, 105, 180, 0.8);
    font-size: 35px;
    font-weight: 600;
  }

  .typeContainer h3 {
    font-size: 30px;
  }

  .typeContainer p {
    font-size: 23px;
  }

  #firstText {
    font-size: 28px;
  }

  #secText {
    font-size: 30px;
  }
}
