/* JS */

#bannerJS {
  width: 58px;
  height: 65px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 20px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerJS .fillJS {
  animation-name: fillActionJS;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerJS #waveShapeJS {
  animation-name: waveActionJS;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(240, 219, 79);
}
@keyframes fillActionJS {
  0% {
    transform: translate(0, 65px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionJS {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* HTML */

#bannerHTML {
  width: 58px;
  height: 60px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 25px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerHTML .fillHTML {
  animation-name: fillActionHTML;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerHTML #waveShapeHTML {
  animation-name: waveActionHTML;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(252, 73, 11);
}
@keyframes fillActionHTML {
  0% {
    transform: translate(0, 50px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionHTML {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* CSS */

#bannerCSS {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerCSS .fillCSS {
  animation-name: fillActionCSS;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerCSS #waveShapeCSS {
  animation-name: waveActionCSS;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(33, 150, 243);
}
@keyframes fillActionCSS {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionCSS {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* REACT */

#bannerREACT {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerREACT .fillREACT {
  animation-name: fillActionREACT;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerREACT #waveShapeREACT {
  animation-name: waveActionREACT;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(92, 92, 92);
}
@keyframes fillActionREACT {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionREACT {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* NODE */

#bannerNODE {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerNODE .fillNODE {
  animation-name: fillActionNODE;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerNODE #waveShapeNODE {
  animation-name: waveActionNODE;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(131, 205, 41);
}
@keyframes fillActionNODE {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionNODE {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* REDUX */

#bannerREDUX {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerREDUX .fillREDUX {
  animation-name: fillActionREDUX;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerREDUX #waveShapeREDUX {
  animation-name: waveActionREDUX;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgb(118, 74, 188);
}
@keyframes fillActionREDUX {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionREDUX {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* POSTGRES */

#bannerPOSTGRES {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerPOSTGRES .fillPOSTGRES {
  animation-name: fillActionPOSTGRES;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerPOSTGRES #waveShapePOSTGRES {
  animation-name: waveActionPOSTGRES;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgba(255, 255, 255, 0.8);
}
@keyframes fillActionPOSTGRES {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionPOSTGRES {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* EXPRESS */

#bannerEXPRESS {
  width: 58px;
  height: 75px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 10px;
  margin-left: 6px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#bannerEXPRESS .fillEXPRESS {
  animation-name: fillActionEXPRESS;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
#bannerEXPRESS #waveShapeEXPRESS {
  animation-name: waveActionEXPRESS;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  fill: rgba(130,130,130);
}
@keyframes fillActionEXPRESS {
  0% {
    transform: translate(0, 75px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveActionEXPRESS {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}
