.banner {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
}

#bannerJS .fillJS,
#bannerHTML .fillHTML,
#bannerCSS .fillCSS,
#bannerREACT .fillREACT,
#bannerNODE .fillNODE,
#bannerREDUX .fillREDUX,
#bannerPOSTGRES .fillPOSTGRES,
#bannerEXPRESS .fillEXPRESS {
  animation-name: fillAction;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fillAction {
  0% {
    transform: translate(0, 65px);
  }
  90% {
    transform: translate(0, -5px);
  }
}
@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  90% {
    transform: translate(0, 0);
  }
}

/* JS */

#bannerJS {
  width: 58px;
  height: 65px;
  margin-top: 21px;
  margin-left: 6px;
}

#bannerJS #waveShapeJS {
  fill: rgb(240, 219, 79);
}

/* HTML */

#bannerHTML {
  width: 58px;
  height: 62px;
  margin-top: 24px;
  margin-left: 6px;
}

#bannerHTML #waveShapeHTML {
  fill: rgb(252, 73, 11);
}

/* CSS */

#bannerCSS {
  width: 58px;
  height: 75px;
  margin-top: 10px;
  margin-left: 6px;
}
#bannerCSS #waveShapeCSS {
  fill: rgb(33, 150, 243);
}

/* REACT */

#bannerREACT {
  width: 58px;
  height: 80px;
  margin-top: 5px;
  margin-left: 6px;
}

#bannerREACT #waveShapeREACT {
  fill: rgb(92, 92, 92);
}

/* NODE */

#bannerNODE {
  width: 58px;
  height: 40px;
  margin-top: 45px;
  margin-left: 6px;
}

#bannerNODE #waveShapeNODE {
  fill: rgb(131, 205, 41);
}

/* REDUX */

#bannerREDUX {
  width: 58px;
  height: 63px;
  margin-top: 22px;
  margin-left: 6px;
}

#bannerREDUX #waveShapeREDUX {
  fill: rgb(118, 74, 188);
}

/* POSTGRES */

#bannerPOSTGRES {
  width: 58px;
  height: 55px;
  margin-top: 30px;
  margin-left: 6px;
}

#bannerPOSTGRES #waveShapePOSTGRES {
  fill: rgba(255, 255, 255, 0.8);
}

/* EXPRESS */

#bannerEXPRESS {
  width: 58px;
  height: 67px;
  margin-top: 18px;
  margin-left: 6px;
}

#bannerEXPRESS #waveShapeEXPRESS {
  fill: rgba(130, 130, 130);
}
