.container {
  color: white;
  height: 107.5vh;
  overflow: hidden;
  background-image: url("../../images/bgMobileReverse.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.container p {
  font-size: 13px;
  width: 200px;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.9);
}

.cupsContainer {
  margin-top: 10px;
}

.title {
  color: rgba(255, 255, 255, 0.88);
  font-size: 24px;
  position: relative;
  margin-top: 80px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: rgba(255, 105, 180);
  width: 70px;
  left: 8px;
}

.cups {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin-top: 10px;
}

.img {
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 5px;
}

#imgJS {
  height: 54px;
  width: 52px;
  background-image: url("../../images/skills/js.png");
  top: 28px;
  right: 9px;
}

#imgHTML {
  height: 50px;
  width: 58px;
  background-image: url("../../images/skills/html.png");

  top: 28px;
  right: 6px;
}

#imgHTMLBG {
  border: 5px solid rgb(250, 250, 250);
  height: 30px;
  width: 26px;
  right: 18px;
  position: absolute;
  background-color: rgb(250, 250, 250);
  top: 35px;
}

#imgCSS {
  height: 54px;
  width: 58px;
  background-image: url("../../images/skills/css.png");

  top: 28px;
  right: 6px;
}

#imgREACT {
  height: 54px;
  width: 57px;
  background-image: url("../../images/skills/react.webp");

  top: 26px;
  right: 6px;
}

#imgNODE {
  height: 60px;
  width: 57px;
  background-image: url("../../images/skills/node.png");

  top: 24px;
  right: 6px;
}

#imgREDUX {
  height: 60px;
  width: 57px;
  background-image: url("../../images/skills/redux.png");

  top: 24px;
  right: 6px;
}

#imgPOSTGRES {
  height: 60px;
  width: 57px;
  background-image: url("../../images/skills/postgres.png");

  top: 24px;
  right: 6px;
}

#imgEXPRESS {
  height: 60px;
  width: 53px;
  background-image: url("../../images/skills/express.png");

  top: 24px;
  right: 8px;
}

#imgEXPRESSBG {
  border: 5px solid rgb(250, 250, 250);
  height: 20px;
  width: 26px;
  right: 18px;
  position: absolute;
  background-color: rgb(250, 250, 250);
  top: 35px;
}

.cup {
  position: relative;
  transform: translateY(-50%, -50%);
  width: 70px;
  height: 90px;
  border: 6px solid #262626;
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cup::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 40px;
  border: 6px solid rgba(255, 255, 255, 0.9);
  right: -28px;
  top: 18px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

@media (max-width: 1200px) {
}
