.container {
  color: white;
  height: 107.5vh;
  overflow: hidden;
  background-image: url("../../images/mobileBG.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgba(255, 255, 255, 0.88);
  font-size: 24px;
  position: relative;
  margin-top: 80px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: rgba(255, 105, 180);
  width: 70px;
  left: 8px;
}

.textAndImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer a {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 12px 0px;
  background-color: rgba(255, 105, 180);
  color: rgba(255, 255, 255, 0.88);
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.imgContainer a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 105, 180);
  transition: 0.3s;
  cursor: pointer;
}

#img {
  background-image: url("../../images/1.png");
  background-size: cover;
  height: 22vh;
  width: 22vh;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-top: 10px;
}

.hexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textContainer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.twoHexContainer {
  display: flex;
  height: 26vh;
  justify-content: space-evenly;
}

.hexs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexTxt {
  text-align: center;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.9);
  width: 45vw;
}

.hexTxt h3 {
  font-size: 2.8vh;
  margin: 0;
}

.hexTxt p {
  margin-top: 5px;
  font-size: 1.5vh;
  margin: 10px;
}

.hex {
  background-image: url("../../images/pinkhex.png");
  background-size: 100% auto;
  height: 80px;
  width: 80px;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  margin-bottom: 18px;
}

.hex i {
  margin-top: 8px;
}

@media (min-width: 900px) {
  .title {
    color: rgba(255, 255, 255, 0.88);
    font-size: 24px;
    position: relative;
    margin-top: 120px;
  }

  .hex {
    background-image: url("../../images/pinkhex.png");
    background-size: 100% auto;
    height: 100px;
    width: 100px;
    position: relative;
    background-repeat: no-repeat;
  }

  .hexTxt {
    text-align: center;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.9);
    width: 13vw;
  }

  .textAndImgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: space-evenly;
    margin-top: 10vh;
  }

  .hexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .twoHexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .hexTxt {
    text-align: center;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.9);
    margin: 2vh;
  }

  .textContainer {
    height: auto;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
  }

  .twoHexContainer {
    display: flex;
    height: auto;
    justify-content: space-evenly;
  }

  #img {
    background-image: url("../../images/1.png");
    background-size: cover;
    height: 36vh;
    width: 36vh;
    border-radius: 50%;
    margin-top: 15px;
    border: 2px solid rgba(255, 255, 255, 0.9);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  .imgContainer a {
    text-decoration: none;
    padding: 12px 60px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(255, 105, 180);
    color: rgba(255, 255, 255, 0.88);
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    transition: 0.3s;
  }
}
