.container {
  color: white;
  height: 150vh;
  overflow: hidden;
  background-image: url("../../images/mobileBG.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: rgba(255, 255, 255, 0.88);
  font-size: 24px;
  position: relative;
  margin-top: 106px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: rgba(255, 105, 180);
  width: 70px;
  left: 8px;
}

.imgContainer {
  position: relative;
}

#img {
  background-image: url("../../images/1.png");
  background-size: cover;
  height: 26vh;
  width: 26vh;
  border-radius: 50%;
  margin-top: 15px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.textContainer {
  height: 50vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.hexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twoHexContainer {
  display: flex;
  width: 100vw;
  height: 26vh;
  justify-content: space-evenly;
}

.hexs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}

.hexTxt {
  text-align: center;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.9);
}

.hexTxt h3 {
  font-size: 2.8vh;
  margin: 0;
  margin-top: 35px;
}

.hexTxt p {
  margin-top: 5px;
  font-size: 1.5vh;
}

.hex {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  background-color: rgba(255, 105, 180);
  border-color: rgba(255, 105, 180);
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 37px;
}

.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  position: absolute;
  top: -27px;
  left: 0px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.hex:after {
  content: "";
  width: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  position: absolute;
  bottom: -27px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  left: 0px;
  border-radius: 3px;
}
