.container {
  color: white;
  height: 107.5vh;
  overflow: hidden;
  background-image: url("../../images/bgMobileReverse.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.title {
  color: rgba(255, 255, 255, 0.88);
  font-size: 24px;
  position: relative;
  margin-top: 80px;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -13px;
  height: 4px;
  background-color: rgba(255, 105, 180);
  width: 101px;
  left: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 71vh;
  justify-content: center;
  max-width: 900px;
}

.form label {
  font-weight: bold;
}

.form input {
  height: 4vh;
  width: 80vw;
  margin: 10px 0px;
  padding-left: 8px;
  border-radius: 8px;
  max-width: 900px;

  outline: none;
  border: 2px solid transparent;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.85);
}

.form input:focus {
  border: 2px solid rgba(255, 105, 180);
  background-color: rgba(255, 255, 255);
  transition: 0.3s;
}

.required::after {
  content: "(required)";
  font-size: 12px;
  position: absolute;
  margin: 0px 4px;
}

#message {
  max-width: 900px;
  text-align: start;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 8vh;
  border-radius: 10px;
  margin: 10px 0px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid transparent;
  transition: 0.3s;
  width: 80vw;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

#message:focus {
  border: 2px solid rgba(255, 105, 180);
  background-color: rgba(255, 255, 255);
  transition: 0.3s;
}

.form button {
  justify-content: start;
  width: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  background-color: rgba(255, 105, 180);
  border: 2px solid transparent;
  transition: 0.3s;
}

.form button:hover {
  background-color: rgb(238, 66, 152);
  transition: 0.3s;
  cursor: pointer;
}

.emailAndNumber {
  width: 80vw;
  height: 5vh;
  margin-top: 2vh;
}

.row {
  display: flex;
  align-items: center;
  height: 25px;
}

.row i {
  font-size: 22px;
  margin-right: 10px;
}

.row p {
  font-size: 14px;
}

.other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  bottom: 0px;
  height: 75px;
  right: 0;
  left: 0;
}

.other p {
  font-size: 11px;
  color: black;
}

.img {
  display: flex;
  width: 110px;
  margin: 10px;
  justify-content: space-between;
}

.img .link {
  height: 30px;
  width: 30px;
  background-image: url("../../images/linkedin.png");
  background-size: 100% auto;
}

.img .git {
  height: 30px;
  width: 30px;
  background-image: url("../../images/github.png");
  background-size: 100% auto;
}

.img .wpp {
  height: 30px;
  width: 30px;
  background-image: url("../../images/wpp.png");
  background-size: 100% auto;
}

/* Loading */

#sendTxt {
  color: rgba(172, 255, 47, 0.9);
  font-size: 14px;
}

#sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ldsRing {
  position: relative;
  width: 25px;
  height: 25px;
}
.ldsRing div {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 900px) {
  .title {
    color: rgba(255, 255, 255, 0.88);
    font-size: 24px;
    position: relative;
    margin-top: 120px;
  }
}
