body{
  background-image: url("./images/PCGB.png");
  background-size: 100% auto;
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 1200px) {
  body{
    background-image: url("./images/mobileBG.jpg");
    background-size: 100% 100vh;
  }
}